.teste
{
color: #7DA479;
font-size: 30px;
}

.div
{
display: flex;
background-color: gray;
width: 90%;
align-items: center;
}

.alinhar_horizontal
{
display: flex;
justify-content: center;
}

.alinhar_vertical
{
display: flex;
align-items: center;
}

